* {
  font-family: arial, sans-serif;
  font-size: small;
}

.header {
  height:10%;
  float: right;
  display: block;
}

.user_name, .gmail, .images, .apps, .user_av, .notif, .search, .lucky, .advert, .business, .about, .privacy, .terms, .settings {
  display: inline-block;
  padding-right: 20px;
}

.user_name, .gmail, .images, .apps, .user_av, .notif {
  vertical-align: middle;
}

.user_name {
}

.gmail {
}

.images {
}

.apps {
  background-image: url("https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/style/../images/sprite.png");
  background-position: -69px -854px;
  width:20px;
  height:30px;
}

.notif {
  background-image: url("https://raw.githubusercontent.com/n8sb/odin-project/master/google-homepage/style/../images/sprite.png");
  background-position: -1px -717px;
  width:10px;
  height:30px;
}

.user_av {
  background-image: url("https://avatars2.githubusercontent.com/u/558894?v=3&s=40");
  width:30px;
  height:44px;
  border-radius: 50px;
  text-align: right;
  margin-top: -2px;
  padding-left: 5px;
  padding-right: 10px;
}

.content {
  height: 80%;
  padding-top: 12.5%;
  text-align: center;
}

.google {
  margin: auto;
  font-family: sans-serif;
  font-size: 78px;
  padding-bottom: 2%;
}

.google span {
  font-size: 78px;
}

.search_text {
  margin-top:10px;
  width:40%;
  border: 1px solid;
  margin: auto;
}

#s {
  font-size:14px;
  height:30px; 
  width:50%;
  border: none;
}

.search {
  padding-top: 2%;
}

.footer {
  background-color: lightgray;
  margin-top: 15.5%;
  height: 10%;
  width:100%;
  vertical-align: top;
  padding-top: 1%;
  padding-bottom: 2%;
}

.footer1 {
  padding-right: 20px;
  padding-left: 20px;
  float: left;
}

.footer2 {
  float: right;
}
